name: Deploy Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - k8s/**

env:
  project: httpbin

jobs:
  test:
    uses: ./.github/workflows/testrunner.yaml
    secrets: inherit

  release:
    runs-on: zon-ubuntu-general-dind
    needs: test

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ZeitOnline/gh-action-baseproject@33c193b385a736184a1230cffe5ee5d1c9891da5 # v0.14.1
        with:
          project_name: ${{env.project}}
          environment: production
          gar_docker_auth: true
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          tags: ${{secrets.GAR_DOCKER_REGISTRY}}/${{env.project}}:${{github.sha}}
          push: true
          cache-from: type=gha
          secrets: |
            GCLOUD_TOKEN=${{steps.baseproject.outputs.gcloud_access_token}}

      - name: Set image version
        run: |
          cd k8s/base/versions
          kustomize edit set image "project:${{github.sha}}"
          git commit -am "Release image version ${{github.sha}}"
          git push
