name: Deploy Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - k8s/**

env:
  project: httpbin

jobs:
  test:
    uses: ./.github/workflows/testrunner.yaml
    secrets: inherit

  release:
    runs-on: zon-ubuntu-general-dind
    needs: test

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ZeitOnline/gh-action-baseproject@33c193b385a736184a1230cffe5ee5d1c9891da5 # v0.14.1
        with:
          project_name: ${{env.project}}
          environment: production
          gar_docker_auth: true
      - uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          tags: ${{secrets.GAR_DOCKER_REGISTRY}}/${{env.project}}:${{github.sha}}
          push: true
          cache-from: type=gha
          secrets: |
            GCLOUD_TOKEN=${{steps.baseproject.outputs.gcloud_access_token}}

      - name: Set image version
        run: |
          cd k8s/base/versions
          kustomize edit set image "project:${{github.sha}}"
          git commit -am "Release image version ${{github.sha}}"
          git push
