name: Testrunner

on:
  pull_request:
  workflow_call: # triggered by ./release.yaml

env:
  project: httpbin

jobs:
  linter:
    uses: zeitonline/gh-action-workflows/.github/workflows/pre-commit.yaml@4241bed0752a9d591a002a07a1e46dd0514cf951 # 2.10.1
    with:
      python-version: "3.13"
      node-version: "24"
  k8s:
    uses: zeitonline/gh-action-workflows/.github/workflows/k8s-validation.yaml@4241bed0752a9d591a002a07a1e46dd0514cf951 # 2.10.1

  test:
    needs:
      - linter
      - k8s

    name: Test Run
    runs-on: zon-ubuntu-general-dind
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ZeitOnline/gh-action-baseproject@33c193b385a736184a1230cffe5ee5d1c9891da5 # v0.14.1
        id: baseproject
        with:
          project_name: ${{env.project}}
          environment: production
          setup_buildx: true
          google_auth: true
      - run: bin/test

      - uses: ZeitOnline/sysdig-scan-action@6ce72f92e0cb5c80ff798ec3807ee2d829c70b64 # v1.2.0
        with:
          gha_vault_role: ${{steps.baseproject.outputs.gha_vault_role}}
          image_tag: ${{secrets.GAR_DOCKER_REGISTRY}}/${{env.project}}:testing
